{% for date, item in data %}

  <{{ heading_level_date|default('h2') }}>{{ date|date('Y-m-d') }}</{{ heading_level_date|default('h2') }}>

  {% for value in item %}

    <{{ heading_level_name|default('h3') }}>{{ value.name }}</{{ heading_level_name|default('h3') }}>

    <ul>
      {% if value.version %}<li>{{ 'Version: ' }}{{ value.version }}</li>{% endif %}
      {% if value.description %}<li>{{ 'Description: ' }}{{ value.description }}</li>{% endif %}
      {% if value.ticket %}<li>{{ 'Ticket: ' }}<a href="{{ value.ticket }}">{{ value.ticket }}</a></li>{% endif %}
      {% if value.link %}<li>{{ 'Link: ' }}<a href="{{ value.link }}">{{ value.link }}</a></li>{% endif %}
      {% if value.authors %}
        <li>
          {{ 'Authors: ' }}
          {% for author in value.authors %}
            {{ author }}{% if not loop.last %},{% endif %}
          {% endfor %}
        </li>
      {% endif %}
    </ul>

    <br>
  {% endfor %}

{% endfor %}
