
<div class="welcome-container">
  <div class="col welcome-left">

    {% if whats_new %}
      <details open>
        <summary role="button" aria-expanded="true" aria-pressed="true" >{{ 'What\'s New?'|t }}</summary>
        <div class="details-wrapper">{{ whats_new }}</div>
     </details>
    {% endif %}

    {% if recently_added_content %}
    <details open>
      <summary role="button" aria-expanded="true" aria-pressed="true" >{{ 'Recently Added Content'|t }}</summary>
      <div class="details-wrapper">
        {{ recently_added_content }}
        <a class="button" href="{{ path('node.add_page') }}">{{ 'Add content'|t }}</a>
        <a class="button" href="{{ path('system.admin_content') }}">{{ 'Manage content'|t }}</a>
      </div>
    </details>
    {% endif %}

  </div>{# left column end#}

  <div class="col welcome-right">
    <details open>
      <summary role="button" aria-expanded="true" aria-pressed="true" >{{ 'Help and Support'|t }}</summary>
      <div class="details-wrapper">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et ipsum ligula. Vestibulum rhoncus congue erat, a vestibulum dolor consectetur ut. Proin non tempus ipsum. Maecenas viverra, urna nec hendrerit mattis, sem erat sollicitudin quam, vitae tempus justo augue gravida lorem. Vivamus in dictum tellus, ut egestas tortor. Aliquam viverra libero in felis tincidunt, eget semper ante maximus. Nam eget sodales metus, ac aliquam libero. Duis leo nulla, laoreet sit amet felis vel, laoreet cursus augue. Duis pretium accumsan odio id pellentesque. Aliquam erat volutpat. Etiam elit magna, fermentum at hendrerit vitae, dictum at nibh.
      </div>
    </details>
  </div>

</div>

