
<div class="welcome-container">
  <div class="col welcome-left">

    {% if whats_new %}
      <details open>
        <summary role="button" aria-expanded="true" aria-pressed="true" >{{ 'What\'s New?'|t }}</summary>
        <div class="details-wrapper">{{ whats_new }}</div>
     </details>
    {% endif %}

    {% if recently_added_content %}
    <details open>
      <summary role="button" aria-expanded="true" aria-pressed="true" >{{ 'Recently Added Content'|t }}</summary>
      <div class="details-wrapper">
        {{ recently_added_content }}
        <a class="button" href="{{ path('node.add_page') }}">{{ 'Add content'|t }}</a>
        <a class="button" href="{{ path('system.admin_content') }}">{{ 'Manage content'|t }}</a>
      </div>
    </details>
    {% endif %}

  </div>{# left column end#}

  <div class="col welcome-right">
    <details open>
      <summary role="button" aria-expanded="true" aria-pressed="true" >{{ 'Help and Support'|t }}</summary>
      <div class="details-wrapper">

        <h3 class="support-name">{{ support.name }}</h3>

        <div class="support-text">{{ support.info }}</div>

        <div><a href="{{ support.knowledge_link }}" class="support-knowledge-link">{{ support.knowledge_link }}</a></div>
        <div><a href="{{ support.support_link }}" class="support-link">{{ support.support_link }}</a></div>


      </div>
    </details>
  </div>

</div>

